[Desktop Entry]
Exec= ~/.scrips/headphone_brightness_off.sh
Icon=dialog-scripts
Name=headphone_brightness_off.sh
Path=
Type=Application
X-KDE-AutostartScript=true
